html {
  background-color: #00343A;
  font-family: 'Georama', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* h1 {
  font-size: 10px;
  line-height: 1.5;
} */

/* body {
    font-size: 10px;
    line-height: 1.5;
  } */


/* This is to turn on red outlines to troubleshoot div spacing */

  /* *{ 
border: red solid 1px;
} */


 /*  See Responsive CSS below, this is desktop (between tablet and wide screen) */

  h1 {
    color: white;
    font-family: p22-mackinac-pro, serif;
    font-weight: 400;
    font-size: 2.8rem;
  }
  
  p {
    margin-block-start: 0px; /* added because of TOP ISSUES alignment */
    margin-block-end: 0px;
  }

  
  .aclu-container {
    margin: -15% 0% 0% -3%;
  }
  
  
  .aclu {
    color: #474569;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 42vw;
    line-height: 0;
    text-align: center;
    letter-spacing: -0.03em;
    vertical-align: top;
  }

  .aclu a:link, a:visited {
    text-decoration: none;
    color: #474569;
  }

  .mission-container {
    margin-top: -400px;
    padding: 0% 20%;
  }

  .mission {
    color: white;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0em;
    padding-bottom: 23%;
  }


  .top-issues {
    position: relative;
    z-index: 5; 
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg);   /* Firefox */
    -ms-transform: rotate(-90deg);   /* IE 9 */
    -o-transform: rotate(-90deg);   /* Opera */
    transform: rotate(-90deg);
    color: #EF404E;
    text-transform:uppercase;
    font-family: 'Georama', sans-serif;
    font-weight: 800;
    font-size: 8rem;
    line-height: 4rem;
    position: fixed;
    bottom: 50%;
    top: 50%;
    padding: 0%;
    margin-left: -200px;
  }

  .issue-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
    max-width: 1500px;
  }

  .issue-column-left {
    min-height: 550px;
  }

  .featured-issue {
    position: relative;
    z-index: 4;
    background-color: #FFE9E3;
    border-left: 13px solid #EF404E;
    border-radius: 4px 0px 0px 4px;
    margin: -50px 5% 0px 20%;
    vertical-align: bottom;
    max-width: 700px;
  }

  .featured-image {
    position: relative;
    z-index: 1;
    width: 100%;
    animation: fadeInAnimation ease-in-out .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  

 .issue-description {
    font-family: 'Georama', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: #691B40;
    padding: 20px 20px 20px 25px;
  }

  .hidden {
    display: none;
  }

  .issue-button-box {
    padding: 30px 30px 0px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .issue-button-box p {
    position: relative;
    font-family: p22-mackinac-pro, serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 10px;
  }

  .issue-button {
    cursor:pointer;
    padding: 5px 8px;
    background: #A7D7B5;
    height: 27px;
    border: none;
    border-radius: 4px;
    color: #130F54;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.issue-button:hover{
  background: #FABEAF;
}

.selected-button {
  background: #EF404E;
}


.aclu-footer-title {
  text-align: center;
  padding: 40px 20px 0px 20px;
}

.aclu-footer {
  background-color: #474569;
  height: 100px;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  padding: 30px;
  color: white;
  font-family: p22-mackinac-pro, serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.aclu-footer a {
  color: white;
}

  /* Responsive: mobile, less than 768px */
  @media screen and (max-width:768px) {

    .mission-container {
      margin-top: 0px;
    }

    .issue-container {
      grid-template-columns: 1fr;
    }

    .top-issues {
      position: absolute;
      font-size: 5rem;
      margin-left: -120px;
    }

    .issue-description {
      font-size: 1.5rem;
    }

    .issue-column-left {
      min-height: 300px;
    }

    .aclu-footer-title {
      font-size: 1.8rem;
    }
  }


  /* Responsive: between mobile and desktop */
  @media screen and (min-width:769px) and (max-width:1075px) {
    .issue-container {
      grid-template-columns: 1fr;
    }

    .top-issues {
      position: absolute;
      font-size: 5rem;
      margin-left: -120px;
    }

    .issue-column-left {
      min-height: 610px;
    }
  }

 

  /* Responsive: wide screen, more than 1400px */
@media screen and (min-width:1400px) {

  .aclu-container {
    margin: -220px 0px 0px -80px;
  }
  
  .aclu {
    font-size: 600px;
  }

  .mission-container {
    margin-top: -470px;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
  }

  .mission {
    padding-bottom: 200px;
  }

  .issue-container {
    margin-left: auto;
    margin-right: auto;
  }

  .issue-column-left {
    min-height: 580px;
  }
}